// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../resource';
import { APIPromise } from '../api-promise';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class Products extends APIResource {
  /**
   * Create Product
   */
  create(body: ProductCreateParams, options?: RequestOptions): APIPromise<ProductCreateResponse> {
    return this._client.post('/api/v1/products', { body, ...options });
  }

  /**
   * Get Product
   */
  retrieve(id: string, options?: RequestOptions): APIPromise<ProductRetrieveResponse> {
    return this._client.get(path`/api/v1/products/${id}`, options);
  }

  /**
   * Update Product
   */
  update(id: string, body: ProductUpdateParams, options?: RequestOptions): APIPromise<ProductUpdateResponse> {
    return this._client.put(path`/api/v1/products/${id}`, { body, ...options });
  }

  /**
   * List Products
   */
  list(
    query: ProductListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<ProductListResponse> {
    return this._client.get('/api/v1/products', { query, ...options });
  }
}

export interface ProductCreateResponse {
  product: ProductCreateResponse.Product;
}

export namespace ProductCreateResponse {
  export interface Product {
    id: string;

    active: boolean;

    /**
     * safeZodDate
     */
    createdAt: (string & {}) | string;

    description: string | null;

    displayFeatures: Array<Product.DisplayFeature> | null;

    imageURL: string | null;

    livemode: boolean;

    name: string;

    organizationId: string;

    pluralQuantityLabel: string | null;

    singularQuantityLabel: string | null;

    /**
     * safeZodDate
     */
    updatedAt: (string & {}) | string;
  }

  export namespace Product {
    export interface DisplayFeature {
      enabled: boolean;

      label: string;

      details?: string | null;
    }
  }
}

export interface ProductRetrieveResponse {
  product: ProductRetrieveResponse.Product;
}

export namespace ProductRetrieveResponse {
  export interface Product {
    id: string;

    active: boolean;

    /**
     * safeZodDate
     */
    createdAt: (string & {}) | string;

    description: string | null;

    displayFeatures: Array<Product.DisplayFeature> | null;

    imageURL: string | null;

    livemode: boolean;

    name: string;

    organizationId: string;

    pluralQuantityLabel: string | null;

    singularQuantityLabel: string | null;

    /**
     * safeZodDate
     */
    updatedAt: (string & {}) | string;
  }

  export namespace Product {
    export interface DisplayFeature {
      enabled: boolean;

      label: string;

      details?: string | null;
    }
  }
}

export interface ProductUpdateResponse {
  product: ProductUpdateResponse.Product;
}

export namespace ProductUpdateResponse {
  export interface Product {
    id: string;

    active: boolean;

    /**
     * safeZodDate
     */
    createdAt: (string & {}) | string;

    description: string | null;

    displayFeatures: Array<Product.DisplayFeature> | null;

    imageURL: string | null;

    livemode: boolean;

    name: string;

    organizationId: string;

    pluralQuantityLabel: string | null;

    singularQuantityLabel: string | null;

    /**
     * safeZodDate
     */
    updatedAt: (string & {}) | string;
  }

  export namespace Product {
    export interface DisplayFeature {
      enabled: boolean;

      label: string;

      details?: string | null;
    }
  }
}

export interface ProductListResponse {
  data: Array<ProductListResponse.Data>;

  hasMore: boolean;

  total: number;

  currentCursor?: string;

  nextCursor?: string;
}

export namespace ProductListResponse {
  export interface Data {
    id: string;

    active: boolean;

    /**
     * safeZodDate
     */
    createdAt: (string & {}) | string;

    description: string | null;

    displayFeatures: Array<Data.DisplayFeature> | null;

    imageURL: string | null;

    livemode: boolean;

    name: string;

    organizationId: string;

    pluralQuantityLabel: string | null;

    singularQuantityLabel: string | null;

    /**
     * safeZodDate
     */
    updatedAt: (string & {}) | string;
  }

  export namespace Data {
    export interface DisplayFeature {
      enabled: boolean;

      label: string;

      details?: string | null;
    }
  }
}

export interface ProductCreateParams {
  price: ProductCreateParams.UnionMember0 | ProductCreateParams.UnionMember1;

  product: ProductCreateParams.Product;
}

export namespace ProductCreateParams {
  export interface UnionMember0 {
    active: boolean;

    /**
     * safeZodPositiveInteger
     */
    intervalCount: number;

    intervalUnit: 'day' | 'week' | 'month' | 'year';

    isDefault: boolean;

    name: string | null;

    productId: string;

    /**
     * safeZodPositiveInteger
     */
    setupFeeAmount: number | 0 | null;

    /**
     * safeZodPositiveInteger
     */
    trialPeriodDays: number | 0 | null;

    type: 'subscription';

    /**
     * safeZodPositiveInteger
     */
    unitPrice: number;
  }

  export interface UnionMember1 {
    active: boolean;

    isDefault: boolean;

    name: string | null;

    productId: string;

    type: 'single_payment';

    /**
     * safeZodPositiveInteger
     */
    unitPrice: number;

    /**
     * safeZodNullOrUndefined
     */
    intervalCount?: unknown | unknown | null;

    /**
     * safeZodNullOrUndefined
     */
    intervalUnit?: unknown | unknown | null;

    /**
     * safeZodNullOrUndefined
     */
    setupFeeAmount?: unknown | unknown | null;

    /**
     * safeZodNullOrUndefined
     */
    trialPeriodDays?: unknown | unknown | null;
  }

  export interface Product {
    active: boolean;

    description: string | null;

    displayFeatures: Array<Product.DisplayFeature> | null;

    imageURL: string | null;

    name: string;

    pluralQuantityLabel: string | null;

    singularQuantityLabel: string | null;
  }

  export namespace Product {
    export interface DisplayFeature {
      enabled: boolean;

      label: string;

      details?: string | null;
    }
  }
}

export interface ProductUpdateParams {
  price: ProductUpdateParams.UnionMember0 | ProductUpdateParams.UnionMember1;

  product: ProductUpdateParams.Product;
}

export namespace ProductUpdateParams {
  export interface UnionMember0 {
    id: string;

    type: 'subscription';

    active?: boolean;

    currency?:
      | 'USD'
      | 'AED'
      | 'AFN'
      | 'ALL'
      | 'AMD'
      | 'ANG'
      | 'AOA'
      | 'ARS'
      | 'AUD'
      | 'AWG'
      | 'AZN'
      | 'BAM'
      | 'BBD'
      | 'BDT'
      | 'BGN'
      | 'BIF'
      | 'BMD'
      | 'BND'
      | 'BOB'
      | 'BRL'
      | 'BSD'
      | 'BWP'
      | 'BYN'
      | 'BZD'
      | 'CAD'
      | 'CDF'
      | 'CHF'
      | 'CLP'
      | 'CNY'
      | 'COP'
      | 'CRC'
      | 'CVE'
      | 'CZK'
      | 'DJF'
      | 'DKK'
      | 'DOP'
      | 'DZD'
      | 'EGP'
      | 'ETB'
      | 'EUR'
      | 'FJD'
      | 'FKP'
      | 'GBP'
      | 'GEL'
      | 'GIP'
      | 'GMD'
      | 'GNF'
      | 'GTQ'
      | 'GYD'
      | 'HKD'
      | 'HNL'
      | 'HTG'
      | 'HUF'
      | 'IDR'
      | 'ILS'
      | 'INR'
      | 'ISK'
      | 'JMD'
      | 'JPY'
      | 'KES'
      | 'KGS'
      | 'KHR'
      | 'KMF'
      | 'KRW'
      | 'KYD'
      | 'KZT'
      | 'LAK'
      | 'LBP'
      | 'LKR'
      | 'LRD'
      | 'LSL'
      | 'MAD'
      | 'MDL'
      | 'MGA'
      | 'MKD'
      | 'MMK'
      | 'MNT'
      | 'MOP'
      | 'MUR'
      | 'MVR'
      | 'MWK'
      | 'MXN'
      | 'MYR'
      | 'MZN'
      | 'NAD'
      | 'NGN'
      | 'NIO'
      | 'NOK'
      | 'NPR'
      | 'NZD'
      | 'PAB'
      | 'PEN'
      | 'PGK'
      | 'PHP'
      | 'PKR'
      | 'PLN'
      | 'PYG'
      | 'QAR'
      | 'RON'
      | 'RSD'
      | 'RUB'
      | 'RWF'
      | 'SAR'
      | 'SBD'
      | 'SCR'
      | 'SEK'
      | 'SGD'
      | 'SHP'
      | 'SLE'
      | 'SOS'
      | 'SRD'
      | 'STD'
      | 'SZL'
      | 'THB'
      | 'TJS'
      | 'TOP'
      | 'TRY'
      | 'TTD'
      | 'TWD'
      | 'TZS'
      | 'UAH'
      | 'UGX'
      | 'UYU'
      | 'UZS'
      | 'VND'
      | 'VUV'
      | 'WST'
      | 'XAF'
      | 'XCD'
      | 'XOF'
      | 'XPF'
      | 'YER'
      | 'ZAR'
      | 'ZMW';

    /**
     * safeZodPositiveInteger
     */
    intervalCount?: number;

    intervalUnit?: 'day' | 'week' | 'month' | 'year';

    isDefault?: boolean;

    livemode?: boolean;

    name?: string | null;

    productId?: string;

    /**
     * safeZodPositiveInteger
     */
    setupFeeAmount?: number | 0 | null;

    stripePriceId?: string | null;

    /**
     * safeZodPositiveInteger
     */
    trialPeriodDays?: number | 0 | null;

    /**
     * safeZodPositiveInteger
     */
    unitPrice?: number;
  }

  export interface UnionMember1 {
    id: string;

    type: 'single_payment';

    active?: boolean;

    currency?:
      | 'USD'
      | 'AED'
      | 'AFN'
      | 'ALL'
      | 'AMD'
      | 'ANG'
      | 'AOA'
      | 'ARS'
      | 'AUD'
      | 'AWG'
      | 'AZN'
      | 'BAM'
      | 'BBD'
      | 'BDT'
      | 'BGN'
      | 'BIF'
      | 'BMD'
      | 'BND'
      | 'BOB'
      | 'BRL'
      | 'BSD'
      | 'BWP'
      | 'BYN'
      | 'BZD'
      | 'CAD'
      | 'CDF'
      | 'CHF'
      | 'CLP'
      | 'CNY'
      | 'COP'
      | 'CRC'
      | 'CVE'
      | 'CZK'
      | 'DJF'
      | 'DKK'
      | 'DOP'
      | 'DZD'
      | 'EGP'
      | 'ETB'
      | 'EUR'
      | 'FJD'
      | 'FKP'
      | 'GBP'
      | 'GEL'
      | 'GIP'
      | 'GMD'
      | 'GNF'
      | 'GTQ'
      | 'GYD'
      | 'HKD'
      | 'HNL'
      | 'HTG'
      | 'HUF'
      | 'IDR'
      | 'ILS'
      | 'INR'
      | 'ISK'
      | 'JMD'
      | 'JPY'
      | 'KES'
      | 'KGS'
      | 'KHR'
      | 'KMF'
      | 'KRW'
      | 'KYD'
      | 'KZT'
      | 'LAK'
      | 'LBP'
      | 'LKR'
      | 'LRD'
      | 'LSL'
      | 'MAD'
      | 'MDL'
      | 'MGA'
      | 'MKD'
      | 'MMK'
      | 'MNT'
      | 'MOP'
      | 'MUR'
      | 'MVR'
      | 'MWK'
      | 'MXN'
      | 'MYR'
      | 'MZN'
      | 'NAD'
      | 'NGN'
      | 'NIO'
      | 'NOK'
      | 'NPR'
      | 'NZD'
      | 'PAB'
      | 'PEN'
      | 'PGK'
      | 'PHP'
      | 'PKR'
      | 'PLN'
      | 'PYG'
      | 'QAR'
      | 'RON'
      | 'RSD'
      | 'RUB'
      | 'RWF'
      | 'SAR'
      | 'SBD'
      | 'SCR'
      | 'SEK'
      | 'SGD'
      | 'SHP'
      | 'SLE'
      | 'SOS'
      | 'SRD'
      | 'STD'
      | 'SZL'
      | 'THB'
      | 'TJS'
      | 'TOP'
      | 'TRY'
      | 'TTD'
      | 'TWD'
      | 'TZS'
      | 'UAH'
      | 'UGX'
      | 'UYU'
      | 'UZS'
      | 'VND'
      | 'VUV'
      | 'WST'
      | 'XAF'
      | 'XCD'
      | 'XOF'
      | 'XPF'
      | 'YER'
      | 'ZAR'
      | 'ZMW';

    /**
     * safeZodNullOrUndefined
     */
    intervalCount?: unknown | unknown | null;

    /**
     * safeZodNullOrUndefined
     */
    intervalUnit?: unknown | unknown | null;

    isDefault?: boolean;

    livemode?: boolean;

    name?: string | null;

    productId?: string;

    /**
     * safeZodNullOrUndefined
     */
    setupFeeAmount?: unknown | unknown | null;

    stripePriceId?: string | null;

    /**
     * safeZodNullOrUndefined
     */
    trialPeriodDays?: unknown | unknown | null;

    /**
     * safeZodPositiveInteger
     */
    unitPrice?: number;
  }

  export interface Product {
    id: string;

    active?: boolean;

    description?: string | null;

    displayFeatures?: Array<Product.DisplayFeature> | null;

    imageURL?: string | null;

    livemode?: boolean;

    name?: string;

    organizationId?: string;

    pluralQuantityLabel?: string | null;

    singularQuantityLabel?: string | null;

    stripeProductId?: string | null;
  }

  export namespace Product {
    export interface DisplayFeature {
      enabled: boolean;

      label: string;

      details?: string | null;
    }
  }
}

export interface ProductListParams {
  cursor?: string;

  limit?: number;
}

export declare namespace Products {
  export {
    type ProductCreateResponse as ProductCreateResponse,
    type ProductRetrieveResponse as ProductRetrieveResponse,
    type ProductUpdateResponse as ProductUpdateResponse,
    type ProductListResponse as ProductListResponse,
    type ProductCreateParams as ProductCreateParams,
    type ProductUpdateParams as ProductUpdateParams,
    type ProductListParams as ProductListParams,
  };
}
